/* Color Theme Figma*/
$dark-color: #000036;
$secondary-color: #282162;
$primary-color: #7562E0;
$low-priority-color: #848191;
$Light-color: #F5F5F5;

/* Color Theme Swatches in Hex Adobe Color*/
$purple-color: #9B44F2;
$brilliant-green: #3FA663;
$green-color: #39BF4D;
$black-green: #132616;
$orange-color: #F28241;

$yellow-color: #fff234;

// /* Color Theme Swatches in RGBA Adobe Color*/
// .Pickle:-Mobile-UI/UX-for-Social-app-1-rgba { color: rgba(155, 68, 242, 1); }
// .Pickle:-Mobile-UI/UX-for-Social-app-2-rgba { color: rgba(63, 166, 99, 1); }
// .Pickle:-Mobile-UI/UX-for-Social-app-3-rgba { color: rgba(57, 191, 77, 1); }
// .Pickle:-Mobile-UI/UX-for-Social-app-4-rgba { color: rgba(19, 38, 22, 1); }
// .Pickle:-Mobile-UI/UX-for-Social-app-5-rgba { color: rgba(242, 130, 65, 1); }